<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>ISICON01</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
</head>
<body>

    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">ISICON01</a>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <hr />
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>footer</p>
        </footer>
    </div>

    <script src="/static/scripts/jquery-3.3.1.min.js"></script>
    <script src="/static/scripts/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>