{% extends "layout.html" %}
{% block content %}

<table class="table table-bordered table-hover">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>Your ID</td>
            <td>{{id}}</td>
        </tr>
        <tr>
            <td>試験開始時間</td>
            <td>{{starttime}}</td>
        </tr>
        <tr>
            <td>試験終了時間</td>
            <td>{{endtime}}</td>
        </tr>
        <tr>
            <td>コンソールリンク</td>
            <td><a href={{gotty}} target="_blank">{{gotty}}</a></td>
        </tr>
    </tbody>
</table>


<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#exam1">問題1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#exam2">問題2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#exam3">問題3</a>
    </li>
</ul>
<div class="tab-content">
    <div id="exam1" class="tab-pane fade show active">
        {% block exam1 %}{% endblock %}
    </div>
    <div id="exam2" class="tab-pane fade">
        <p>bbbbbbbb</p>
        {% block exam2 %}{% endblock %}
    </div>
    <div id="exam3" class="tab-pane fade">
        <p>ccccccccc</p>
        {% block exam3 %}{% endblock %}
    </div>
</div>

{% endblock %}

